<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eco-Style</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  </head>
  
  <style>
    /*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
 
  </style>

  <body>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">ECO-STYLE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">INFO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/resources">RESOURCES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">RESOURCES</a>
            </li>
          </ul>
        </div>
      </div>

  <!--    <nav class="navbar navbar-default navbar-fixed-top">-->
  <!--<div class="container">-->
  <!--  <div class="navbar-header">-->
  <!--    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
  <!--      <span class="icon-bar"></span>-->
  <!--      <span class="icon-bar"></span>-->
  <!--      <span class="icon-bar"></span> -->
  <!--    </button>-->
  <!--    <a class="navbar-brand" href="index.html">ECO-STYLE</a>-->
  <!--  </div>-->
  <!--  <div class="collapse navbar-collapse" id="myNavbar">-->
  <!--    <ul class="nav navbar-nav navbar-right">-->
  <!--      <li><a href="/index">INFO</a></li>-->
  <!--      <li><a href="/resources">RESOURCES</a></li>-->
  <!--      <li><a href="/action">TAKE ACTION</a></li>-->
  <!--      <li><a href="/inspiration">INSPIRATION</a></li>-->
  <!--      <li><a href="/about">ABOUT US</a></li>-->
  <!--    </ul>-->
  <!--  </div>-->
  <!--</div>-->
</nav>
      <%= yield %>
  </body>
</html>
